<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Menu.xml" source-language="en-US" target-language="it-IT">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac54d4b8eda1b128606db24c15ccf8bef79c660ce78.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">4d4b8eda1b128606db24c15ccf8bef79c660ce78</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Controls.Menu">
          <source>Represents a Windows menu control that enables you to hierarchically organize elements associated with commands and event handlers.</source>
          <target state="translated">Rappresenta un controllo del menu di Windows che consente di organizzare gerarchicamente gli elementi associati a comandi e gestori eventi.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control presents a list of items that specify commands or options for an application.</source>
          <target state="translated">Il <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> consente di visualizzare un elenco di elementi che specificano le opzioni per un'applicazione o i comandi.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Typically, clicking an item on a menu opens a submenu or causes an application to carry out a command.</source>
          <target state="translated">In genere, fare clic su un elemento in un menu viene aperto un sottomenu o fa sì che un'applicazione eseguire un comando.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> is an <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, which means it can contain a collection of objects of any type (such as string, image, or panel).</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> è un <ph id="ph2">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>, vale a dire che può contenere una raccolta di oggetti di qualsiasi tipo (ad esempio stringa, immagine o un pannello).</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see the <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph> class.</source>
          <target state="translated">Per altre informazioni, vedere la classe <ph id="ph1">&lt;xref:System.Windows.Controls.ItemsControl&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> is the most common type of item in a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</source>
          <target state="translated">Il <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> è il tipo più comune di elemento in un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>A <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> can contain child items.</source>
          <target state="translated">Oggetto <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph> può contenere elementi figlio.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The child items will appear in a submenu when the user chooses a parent <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</source>
          <target state="translated">Quando l'utente sceglie un elemento padre, gli elementi figlio verranno visualizzati in un sottomenu <ph id="ph1">&lt;xref:System.Windows.Controls.MenuItem&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Customizing the Menu Control</source>
          <target state="translated">Personalizzazione del controllo Menu</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To apply the same property settings to multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls, use the <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> property.</source>
          <target state="translated">Per applicare le stesse impostazioni di proprietà a più <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controlli, utilizzare il <ph id="ph2">&lt;xref:System.Windows.FrameworkElement.Style%2A&gt;</ph> proprietà.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can modify the default <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> to give the control a unique appearance.</source>
          <target state="translated">È possibile modificare il valore predefinito <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph> per fornire al controllo un aspetto univoco.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information about creating a <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, see <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">Per ulteriori informazioni sulla creazione di un <ph id="ph1">&lt;xref:System.Windows.Controls.ControlTemplate&gt;</ph>, vedere <bpt id="p1">[</bpt>personalizzazione dell'aspetto di un controllo esistente tramite la creazione di ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>To see the parts and states that are specific to the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, see <bpt id="p1">[</bpt>Menu Styles and Templates<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</source>
          <target state="translated">Per visualizzare le parti e stati specifici di <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph>, vedere <bpt id="p1">[</bpt>Menu stili e modelli<ept id="p1">](~/docs/framework/wpf/controls/menu-styles-and-templates.md)</ept>.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Dependency properties for this control might be set by the control’s default style.</source>
          <target state="translated">Proprietà di dipendenza per questo controllo potrebbe essere impostata dallo stile predefinito del controllo.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>If a property is set by a default style, the property might change from its default value when the control appears in the application.</source>
          <target state="translated">Se una proprietà viene impostata da uno stile predefinito, la proprietà può variare rispetto al valore predefinito quando il controllo viene visualizzato nell'applicazione.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>The default style is determined by which desktop theme is used when the application is running.</source>
          <target state="translated">Lo stile predefinito è determinato dal tema del desktop viene utilizzato quando l'applicazione è in esecuzione.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>For more information, see <bpt id="p1">[</bpt>Default WPF Themes<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</source>
          <target state="translated">Per ulteriori informazioni, vedere <bpt id="p1">[</bpt>temi WPF predefiniti<ept id="p1">](http://go.microsoft.com/fwlink/?LinkID=158252)</ept>.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>Setting a visual property will only have an effect if that property is both present in <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> control's default template and is set by using a .</source>
          <target state="translated">L'impostazione di una proprietà visiva può avere effetto solo se tale proprietà è sia presente nel <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controllo del modello predefinito e viene impostata tramite una.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Controls.Menu">
          <source>You can find a list of visual properties in the "Changing the Visual Structure of a Control" section in <bpt id="p1">[</bpt>Customizing the Appearance of an Existing Control by Creating a ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</source>
          <target state="translated">È possibile trovare un elenco di proprietà visive nella sezione "Modifica la struttura Visual di un controllo" <bpt id="p1">[</bpt>personalizzazione dell'aspetto di un controllo esistente tramite la creazione di ControlTemplate<ept id="p1">](~/docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md)</ept>.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> class.</source>
          <target state="translated">Inizializza una nuova istanza della classe <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Oggetto <ph id="ph1">&lt;see cref="T:System.Windows.Input.MouseButtonEventArgs" /&gt;</ph> che contiene i dati dell'evento.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.HandleMouseButton(System.Windows.Input.MouseButtonEventArgs)">
          <source>Called when any mouse button is pressed or released.</source>
          <target state="translated">Chiamato quando un pulsante del mouse viene premuto o rilasciato.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Gets or sets a value that indicates whether this <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> receives a main menu activation notification.</source>
          <target state="translated">Ottiene o imposta un valore che indica se <ph id="ph1">&lt;see cref="T:System.Windows.Controls.Menu" /&gt;</ph> riceve una notifica di attivazione di menu principale.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the menu receives a main menu activation notification; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> se il menu riceve una notifica di attivazione di menu principale; in caso contrario, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The default is <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">Il valore predefinito è <ph id="ph1">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>If there are multiple <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls on a page, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controls that should not receive ALT or F10 key notifications should set this property to <ph id="ph3">`false`</ph>.</source>
          <target state="translated">Se sono presenti più <ph id="ph1">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controlli in una pagina, <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> controlli che non devono ricevere notifiche dei tasti ALT o F10 devono impostare questa proprietà su <ph id="ph3">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Dependency Property Information</source>
          <target state="translated">Informazioni proprietà di dipendenza</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Identifier field</source>
          <target state="translated">Campo dell'identificatore</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>Metadata properties set to <ph id="ph1">`true`</ph></source>
          <target state="translated">Impostare le proprietà dei metadati <ph id="ph1">`true`</ph></target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>None</source>
          <target state="translated">nessuno</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Controls.Menu.IsMainMenu">
          <source>The following example shows how to use the <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> property to create a <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> that does not receive activation notification.</source>
          <target state="translated">Nell'esempio seguente viene illustrato come utilizzare il <ph id="ph1">&lt;xref:System.Windows.Controls.Menu.IsMainMenu%2A&gt;</ph> proprietà per creare un <ph id="ph2">&lt;xref:System.Windows.Controls.Menu&gt;</ph> che non riceve notifica dell'attivazione.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="F:System.Windows.Controls.Menu.IsMainMenuProperty">
          <source>Identifies the <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph> dependency property.</source>
          <target state="translated">Identifica la proprietà di dipendenza <ph id="ph1">&lt;see cref="P:System.Windows.Controls.Menu.IsMainMenu" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>Provides an appropriate <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> implementation for this control, as part of the <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph> automation infrastructure.</source>
          <target state="translated">Fornisce un'implementazione <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.MenuAutomationPeer" /&gt;</ph> adatta per questo controllo, come parte dell'infrastruttura di automazione <ph id="ph2">[!INCLUDE[TLA2#tla_winclient](~/includes/tla2sharptla-winclient-md.md)]</ph>.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnCreateAutomationPeer">
          <source>The type-specific <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> implementation.</source>
          <target state="translated">Implementazione di <ph id="ph1">&lt;see cref="T:System.Windows.Automation.Peers.AutomationPeer" /&gt;</ph> specifica del tipo.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>An <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Oggetto <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> che contiene i dati dell'evento.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnInitialized(System.EventArgs)">
          <source>Called when the <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> property is set to <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</source>
          <target state="translated">Chiamato quando la proprietà <ph id="ph1">&lt;see cref="P:System.Windows.FrameworkElement.IsInitialized" /&gt;</ph> viene impostata su <ph id="ph2">&lt;see langword="true" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>A <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Oggetto <ph id="ph1">&lt;see cref="T:System.Windows.Input.KeyEventArgs" /&gt;</ph> che contiene i dati dell'evento.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnKeyDown(System.Windows.Input.KeyEventArgs)">
          <source>Responds to the <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph> event.</source>
          <target state="translated">Risponde all'evento <ph id="ph1">&lt;see cref="E:System.Windows.ContentElement.KeyDown" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>The event data.</source>
          <target state="translated">Dati dell'evento.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Handles the <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> routed event that occurs when the menu receives text input from any device.</source>
          <target state="translated">Gestisce l'evento indirizzato <ph id="ph1">&lt;see cref="E:System.Windows.UIElement.TextInput" /&gt;</ph> che si verifica quando il menu riceve l'input di testo da un qualsiasi dispositivo.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>This implementation does not change the handled state (the <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> property) of the <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> event data.</source>
          <target state="translated">Questa implementazione non modifica lo stato gestito (il <ph id="ph1">&lt;xref:System.Windows.RoutedEventArgs.Handled%2A&gt;</ph> proprietà) del <ph id="ph2">&lt;xref:System.Windows.UIElement.TextInput&gt;</ph> dati dell'evento.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>If you override <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, always call the base implementation in your <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementation.</source>
          <target state="translated">Se esegue l'override <ph id="ph1">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph>, chiamare sempre l'implementazione di base <ph id="ph2">&lt;see cref="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)" /&gt;</ph> implementazione.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>Failure to call the base implementation prevents base classes from handling the event with a class handler, which might change the run-time behavior of the final class.</source>
          <target state="translated">Errore durante la chiamata l'implementazione di base impedisce che classi base gestisce l'evento con un gestore di classe, il che potrebbe modificare il comportamento in fase di esecuzione della classe finale.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.OnTextInput(System.Windows.Input.TextCompositionEventArgs)">
          <source>You can call the base implementation either before or after your special handling, depending on your requirements.</source>
          <target state="translated">È possibile chiamare l'implementazione di base prima o dopo la gestione speciale, a seconda dei requisiti.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The element used to display the specified item.</source>
          <target state="translated">L’elemento utilizzato per visualizzare l'elemento specificato.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>The item to display.</source>
          <target state="translated">Elemento da visualizzare.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Prepares the specified element to display the specified item.</source>
          <target state="translated">Prepara l'elemento specificato per visualizzare l'oggetto specificato.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Controls.Menu.PrepareContainerForItemOverride(System.Windows.DependencyObject,System.Object)">
          <source>Preparing the element might involve applying styles, setting bindings, and so on.</source>
          <target state="translated">La preparazione dell'elemento potrebbe richiedere l'applicazione di stili, impostazione delle associazioni e così via.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>