<Type Name="Context" FullName="Microsoft.JScript.Context">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="d94103e4f9b0906ced87b4a34bd79aec58f18e84" />
    <Meta Name="ms.sourcegitcommit" Value="d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b" />
    <Meta Name="ms.translationtype" Value="HT" />
    <Meta Name="ms.contentlocale" Value="it-IT" />
    <Meta Name="ms.lasthandoff" Value="04/03/2018" />
    <Meta Name="ms.locfileid" Value="30337055" />
  </Metadata>
  <TypeSignature Language="C#" Value="public class Context" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Context extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.JScript.Context" />
  <TypeSignature Language="VB.NET" Value="Public Class Context" />
  <TypeSignature Language="C++ CLI" Value="public ref class Context" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.JScript</AssemblyName>
    <AssemblyVersion>10.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>Rappresenta il codice sorgente JScript. La classe appartiene alla categoria dello stato di esecuzione e compilazione.</summary>
    <remarks>
      <format type="text/markdown"><![CDATA[  
  
## Remarks  
 Questa classe viene utilizzata principalmente per la <xref:Microsoft.JScript.JSScanner> e <xref:Microsoft.JScript.JSParser> per leggere il codice sorgente. Per ulteriori informazioni, vedere [creare un compilatore di linguaggio per .NET Framework](http://go.microsoft.com/fwlink/?LinkId=110392).  
  
 ]]></format>
    </remarks>
    <forInternalUseOnly />
    <altmember cref="T:Microsoft.JScript.DocumentContext" />
    <altmember cref="T:Microsoft.JScript.AST" />
    <altmember cref="T:Microsoft.JScript.JSToken" />
  </Docs>
  <Members>
    <Member MemberName="EndColumn">
      <MemberSignature Language="C#" Value="public int EndColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene il numero della colonna nella riga dove termina questo codice, incluso lo spazio vuoto all'inizio della riga.</summary>
        <value>Numero della colonna dove termina questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndLine">
      <MemberSignature Language="C#" Value="public int EndLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene il numero della riga finale di questo codice.</summary>
        <value>Numero della riga finale di questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndPosition">
      <MemberSignature Language="C#" Value="public int EndPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene la posizione nella stringa del codice dove termina il codice, perché tutte le righe di codice sono archiviate in una sola stringa.</summary>
        <value>Posizione nella stringa del codice dove termina questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetCode">
      <MemberSignature Language="C#" Value="public string GetCode ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetCode() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetCode" />
      <MemberSignature Language="VB.NET" Value="Public Function GetCode () As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; System::String ^ GetCode();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Ottiene il codice contenuto nel contesto, ignorando eventuali spazi vuoti.</summary>
        <returns>Codice contenuto nel contesto.</returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetToken">
      <MemberSignature Language="C#" Value="public Microsoft.JScript.JSToken GetToken ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance valuetype Microsoft.JScript.JSToken GetToken() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetToken" />
      <MemberSignature Language="VB.NET" Value="Public Function GetToken () As JSToken" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::JScript::JSToken GetToken();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.JScript.JSToken</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Ottiene una singola unità di codice, o *token*, contenuta nel contesto.</summary>
        <returns>Singola unità di codice, o *token*, contenuta nel contesto.</returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartColumn">
      <MemberSignature Language="C#" Value="public int StartColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene il numero della colonna nella riga da cui inizia questo codice, incluso lo spazio vuoto all'inizio della riga.</summary>
        <value>Numero della colonna da cui inizia questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartLine">
      <MemberSignature Language="C#" Value="public int StartLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene il numero della riga da cui inizia questo codice.</summary>
        <value>Numero della riga da cui inizia questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartPosition">
      <MemberSignature Language="C#" Value="public int StartPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Ottiene la posizione nella stringa del codice dove inizia il codice, perché tutte le righe di codice sono archiviate in una sola stringa.</summary>
        <value>Posizione nella stringa del codice dove inizia questo codice.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
  </Members>
</Type>