<Type Name="Context" FullName="Microsoft.JScript.Context">
  <TypeSignature Language="C#" Value="public class Context" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Context extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.JScript.Context" />
  <TypeSignature Language="VB.NET" Value="Public Class Context" />
  <TypeSignature Language="C++ CLI" Value="public ref class Context" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.JScript</AssemblyName>
    <AssemblyVersion>10.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary><span data-ttu-id="00b1c-101">Rappresenta il codice sorgente JScript.</span><span class="sxs-lookup"><span data-stu-id="00b1c-101">Represents JScript source code.</span></span> <span data-ttu-id="00b1c-102">La classe appartiene alla categoria dello stato di esecuzione e compilazione.</span><span class="sxs-lookup"><span data-stu-id="00b1c-102">This class belongs to the compilation and run-time state category.</span></span></summary>
    <remarks>
      <format type="text/markdown"><![CDATA[  
  
## Remarks  
 <span data-ttu-id="00b1c-103">Questa classe viene utilizzata principalmente per la <xref:Microsoft.JScript.JSScanner> e <xref:Microsoft.JScript.JSParser> per leggere il codice sorgente.</span><span class="sxs-lookup"><span data-stu-id="00b1c-103">This class is used mainly by the <xref:Microsoft.JScript.JSScanner> and the <xref:Microsoft.JScript.JSParser> to read source code.</span></span> <span data-ttu-id="00b1c-104">Per ulteriori informazioni, vedere [creare un compilatore di linguaggio per .NET Framework](http://go.microsoft.com/fwlink/?LinkId=110392).</span><span class="sxs-lookup"><span data-stu-id="00b1c-104">For more information, see [Create a Language Compiler for the .NET Framework](http://go.microsoft.com/fwlink/?LinkId=110392).</span></span>  
  
 ]]></format>
    </remarks>
    <forInternalUseOnly />
    <altmember cref="T:Microsoft.JScript.DocumentContext" />
    <altmember cref="T:Microsoft.JScript.AST" />
    <altmember cref="T:Microsoft.JScript.JSToken" />
  </Docs>
  <Members>
    <Member MemberName="EndColumn">
      <MemberSignature Language="C#" Value="public int EndColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-105">Ottiene il numero della colonna nella riga dove termina questo codice,</span><span class="sxs-lookup"><span data-stu-id="00b1c-105">Gets the column number in the line where this code ends.</span></span> <span data-ttu-id="00b1c-106">incluso lo spazio vuoto all'inizio della riga.</span><span class="sxs-lookup"><span data-stu-id="00b1c-106">This includes whitespace at the start of the line.</span></span></summary>
        <value><span data-ttu-id="00b1c-107">Numero della colonna dove termina questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-107">The column number where this code ends.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndLine">
      <MemberSignature Language="C#" Value="public int EndLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-108">Ottiene il numero della riga finale di questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-108">Gets the ending line number of this code.</span></span></summary>
        <value><span data-ttu-id="00b1c-109">Numero della riga finale di questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-109">The ending line number of this code.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndPosition">
      <MemberSignature Language="C#" Value="public int EndPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-110">Ottiene la posizione nella stringa del codice dove termina il codice, perché tutte le righe di codice sono archiviate in una sola stringa.</span><span class="sxs-lookup"><span data-stu-id="00b1c-110">Gets the position in the code string where this code ends, because all lines of code are stored in a single string.</span></span></summary>
        <value><span data-ttu-id="00b1c-111">Posizione nella stringa del codice dove termina questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-111">The position in the code string where this code ends.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetCode">
      <MemberSignature Language="C#" Value="public string GetCode ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetCode() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetCode" />
      <MemberSignature Language="VB.NET" Value="Public Function GetCode () As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; System::String ^ GetCode();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary><span data-ttu-id="00b1c-112">Ottiene il codice contenuto nel contesto, ignorando eventuali spazi vuoti.</span><span class="sxs-lookup"><span data-stu-id="00b1c-112">Gets the code that the context contains, discarding any whitespace.</span></span></summary>
        <returns><span data-ttu-id="00b1c-113">Codice contenuto nel contesto.</span><span class="sxs-lookup"><span data-stu-id="00b1c-113">The code that the context contains.</span></span></returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetToken">
      <MemberSignature Language="C#" Value="public Microsoft.JScript.JSToken GetToken ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance valuetype Microsoft.JScript.JSToken GetToken() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetToken" />
      <MemberSignature Language="VB.NET" Value="Public Function GetToken () As JSToken" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::JScript::JSToken GetToken();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.JScript.JSToken</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary><span data-ttu-id="00b1c-114">Ottiene una singola unità di codice, o *token*, contenuta nel contesto.</span><span class="sxs-lookup"><span data-stu-id="00b1c-114">Gets an individual unit of code, or a *token*, that the context contains.</span></span></summary>
        <returns><span data-ttu-id="00b1c-115">Singola unità di codice, o *token*, contenuta nel contesto.</span><span class="sxs-lookup"><span data-stu-id="00b1c-115">An individual unit of code, or a *token*, that the context contains.</span></span></returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartColumn">
      <MemberSignature Language="C#" Value="public int StartColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-116">Ottiene il numero della colonna nella riga da cui inizia questo codice,</span><span class="sxs-lookup"><span data-stu-id="00b1c-116">Gets the column number in the line where this code starts.</span></span> <span data-ttu-id="00b1c-117">incluso lo spazio vuoto all'inizio della riga.</span><span class="sxs-lookup"><span data-stu-id="00b1c-117">This includes whitespace at the start of the line.</span></span></summary>
        <value><span data-ttu-id="00b1c-118">Numero della colonna da cui inizia questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-118">The column number where this code starts.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartLine">
      <MemberSignature Language="C#" Value="public int StartLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-119">Ottiene il numero della riga da cui inizia questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-119">Gets the line number where this code starts.</span></span></summary>
        <value><span data-ttu-id="00b1c-120">Numero della riga da cui inizia questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-120">The line number where this code starts.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartPosition">
      <MemberSignature Language="C#" Value="public int StartPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary><span data-ttu-id="00b1c-121">Ottiene la posizione nella stringa del codice dove inizia il codice, perché tutte le righe di codice sono archiviate in una sola stringa.</span><span class="sxs-lookup"><span data-stu-id="00b1c-121">Gets the position in the code string where this code starts, because all lines of code are stored in a single string.</span></span></summary>
        <value><span data-ttu-id="00b1c-122">Posizione nella stringa del codice dove inizia questo codice.</span><span class="sxs-lookup"><span data-stu-id="00b1c-122">The position in the code string where this code starts.</span></span></value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
  </Members>
</Type>